.w-40 {
    width: 40% !important;
}

.w-30 {
    width: 30% !important;
}

.error-message {
    color: #d30000;
    margin: 0.25rem !important;
    display: none;
}

.object-fit-cover {
    object-fit: cover;
}

.mt-10 {
    margin-top: 10px !important;
}

.ml-25 {
    margin-left: 25px !important;
}

.position-search {
    top: 11px;
    right: 11px;
    color: gray;
}

.cursor-pointer {
    cursor: pointer;
}

.upload__btn-box {
    margin-bottom: 10px;
}
.upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.upload__img-box {
    width: 118px;
    padding: 0 10px;
    margin-bottom: 12px;
}
.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}
.upload__img-close:after {
    content: "✖";
    font-size: 14px;
    color: white;
}

.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}

.image-table {
    box-shadow: 3px 6px 15px #cecece;
    border-radius: 9px;
    transition: 0.4s;
}

.image-table:hover {
    box-shadow: 3px 6px 15px #828282;
    border-radius: 9px;
    transition: 0.4s;
}

.select2-container--default {
    width: 100%;
}

.select2-container--default .select2-selection--single {
    border: 2px solid #ced4da;
    height: 35px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none;
    color: #4b4b4b !important;
}

.border-error {
    border: 1px solid red !important;
}

.color-red {
    color: red;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.datepicker.datepicker-dropdown {
    top: 277px !important;
}

.bg-fff5f5 {
    background-color: #fff5f5;
}

.top-25 {
    top: 25%
}

.notify-cart {
    background: rgba(36, 36, 36, 0.8);
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

.div-icon-success {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #24b9b9;
    padding: 25px;
    position: relative;
}

.icon-success {
    position: absolute;
    top: 17px;
    right: 14px
}
